@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF;
  --background-primary: #202020;
  --background-secondary: #191919;
  --accent-blue: #0041A4;
  --accent-blue-active: #002A68;
  --light-grey: #888888;
  --light-grey-active: #CCCCCC;
}

body {
  color: var(--white);
  background: var(--background-primary);
}

h1 {
  font-family: var(--font-alatsi);
  font-size: 35px;
}

p {
  font-family: var(--font-alatsi);
  font-size: 20px;
}
