@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --background-primary: #202020;
  --background-secondary: #191919;
  --accent-blue: #0041A4;
  --accent-blue-active: #002A68;
  --light-grey: #888888;
  --light-grey-active: #CCCCCC;
  --accent-yellow: #EEFF00;
}

body {
  color: var(--white);
  background: var(--background-primary);
}

h1 {
  font-family: var(--font-alatsi);
  font-size: 35px;
}

p {
  font-family: var(--font-alatsi);
  font-size: 20px;
}

p.details {
  font-family: var(--font-jura);
  font-size: 20px;
}

.movie-slider {
  position: relative;
  transition-property: left;
  transition-duration: 500ms;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
